GlyphsRectDemo/GlyphsRectDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GlyphsRectDemo/GlyphsRectDemo.xcodeproj/project.xcworkspace/xcshareddata/GlyphsRectDemo.xccheckout
GlyphsRectDemo/GlyphsRectDemo.xcodeproj/project.xcworkspace/xcuserdata/ben.xcuserdatad/UserInterfaceState.xcuserstate
GlyphsRectDemo/GlyphsRectDemo.xcodeproj/xcuserdata/ben.xcuserdatad/xcschemes/GlyphsRectDemo.xcscheme
GlyphsRectDemo/GlyphsRectDemo.xcodeproj/xcuserdata/ben.xcuserdatad/xcschemes/xcschememanagement.plist
